<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{{ status_code }} {{ reason_phrase }}</title>
  <style>
    body {font-family: "Trebuchet MS", Georgia, "Times New Roman", serif; color: #303030; margin: 10px;}
    h1 {font-size:1.5em;}
    p {font-size:0.8em;}
  </style>
</head>
<body>
  <h1>{{ status_code }} {{ reason_phrase }}</h1>
  <p>{{ details }}</p>
</body>
</html>
